.book-details {
    width: clamp(20rem, 40vw, 30rem);
    max-height: 80vh;
}

.book-details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.book-details img {
    max-width: 70%;
    object-fit: contain;
}

.details-description {
    max-width: 40ch;
}
